@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-color: white;
    --second-color: black;
    --third-color: #1C5BFF;

}


* {
    padding: 0%;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    transition: .4s all ease-in-out;


}

button {
    transition: all ease-in-out .3s;
    cursor: pointer;
}

li {
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(235, 235, 235);
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;
}

.df {
    display: flex;

}

.jcsa {
    justify-content: space-around;
}

.bg-f {
    background-color: var(--main-color);
}

.bg-s {
    background-color: var(--second-color);
}

.bg-t {
    background-color: var(--third-color);
}

.aic {
    align-items: center;
}

.mx-10 {
    margin: auto 10px;
}

.mx-20 {
    margin: auto 20px;
}

.mx-30 {
    margin: auto 30px;
}

.px-10 {
    padding: 0 10px;
}

.px-20 {
    padding: 0 20px;
}

.px-30 {
    padding: 0 30px;
}

.my-10 {
    margin: 10px auto;
}

.my-20 {
    margin: 20px auto;
}

.my-30 {
    margin: 30px auto;
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

nav {
    .logo {
        color: white;
        font-size: 22px;
        border-bottom: 4px #1C5BFF solid;
    }

    .nav__links {
        color: white;

        a {
            color: white;
            margin: auto 20px;

            &:hover {
                color: var(--third-color);
            }
        }

        li {
            margin: auto 5px;

            &:hover {
                color: var(--third-color);
            }
        }
    }
}

.section__one {
    background: #00247df2 url(./images/bg1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .section__text {
        color: white;
        margin-left: 10vw;
        margin-top: 100px;
        width: 84%;

        h2 {
            font-size: 62px;

            span {
                border-bottom: 8px #1C5BFF solid;
            }
        }

        p {
            margin: 30px 0;
        }

        button {

            padding: 13px 40px;
            border-radius: 28px;
            border: none;

            &:hover {
                background-color: var(--third-color);
                color: #000000;
            }
        }
    }



}

.section__two {
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;

    h2 {
        margin-bottom: 10px;

        border-bottom: 5px solid black;
    }

    ul {
        margin-top: 30px;

        li {
            margin: 0 50px;
        }
    }
}

.section__three {
    padding: 100px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252323;
    color: white;

    .section__text {
        margin-bottom: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h2 {
            margin-bottom: 10px;
            width: fit-content;
            border-bottom: 5px solid var(--third-color);

        }
    }

    .card {
        display: flex;
        padding: 20px;
        align-items: center;
        margin-bottom: 10px;

        img {
            margin-right: 50px;
        }

        .cards__text {
            h2 {
                font-size: 32px;
            }

            p {
                font-size: 16px;
                margin: 20px 0;
                font-weight: 400;
            }

            button {
                padding: 13px 40px;
                border-radius: 28px;
                border: none;

                &:hover {
                    background-color: var(--third-color);
                    color: #000000;
                }
            }
        }
    }

    .more_see {
        color: white;
        text-align: center;
        margin-top: 50px;

        p {
            margin-bottom: 10px;
        }

        a {
            color: white;

        }
    }
}

.section__four {
    display: flex;
    flex-direction: column;
    background-color: #252323;
    color: white;
    align-items: center;

    h2 {
        margin: 50px 0;
        width: fit-content;
        border-bottom: 5px solid var(--third-color);
    }


    form {
        display: flex;
        flex-direction: column;

        width: 100%;

        input,
        textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid white;

            &::placeholder {
                color: rgb(199, 199, 199);
            }



        }


        button {
            margin-top: 20px;
            padding: 13px 40px;
            border-radius: 28px;
            border: none;
            background-color: var(--third-color);

            color: white;
            width: fit-content;

            &:hover {
                background-color: var(--third-color);
                color: #000000;
            }
        }
    }

    .s4__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 130px;

    }

    .section__text {
        display: flex;
        flex-direction: column;
        margin-left: 200px;


        p {
            margin-top: 20px;
        }

    }
}

.footer {
    .logo {
        color: white;
        font-size: 22px;
        border-bottom: 4px #000000 solid;
    }

    .nav__links {
        color: white;

        a {
            color: white;
            margin: auto 20px;

            &:hover {
                color: gold;
            }
        }

        li {
            margin: auto 5px;

            &:hover {
                color: gold;
            }
        }
    }
}

@media screen and (max-width:800px) {

    nav,
    .footer {
        width: 100%;
        flex-wrap: wrap;

        .nav__links {
            margin-top: 20px;
        }
    }

    .section__one {
        .section__text {
            padding: 0px 0px 0px 20px;

            h2 {
                font-size: 32px;

                span {
                    border-bottom: 4px #1C5BFF solid;
                }
            }
        }
    }

    .card {
        flex-direction: column;

        img {
            width: 250px;
        }

    }

    .s4__container {
        flex-direction: column !important;
    }

    .section__text {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 100px;

    }

    .section__three {
        .section__text {
            p {
                width: 251px;

            }
        }
    }

    .section__four .s4__container {
        padding: 0;

        .section__text {
            padding: 0 20px;
            margin-bottom: 30px;
        }
    }

    .footer {
        .logo {
            font-size: 15px;
        }
    }

    .section__two {

        flex-direction: column;
        padding: 60px 0;

        h2 {
            margin-bottom: 10px;

            border-bottom: 5px solid black;
        }

        ul {
            margin-top: 60px;
            flex-wrap: wrap;


            li {
                flex-basis: 50%;

                margin: 20px 0;

            }
        }
    }

}


#totoppls {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 1111;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--main-color);
    /* Set a background color */
    color: var(--secondary-color);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 22px;
    /* Increase font size */
    max-width: 50px;
    min-width: 60px;
}


#totoppls {
    &:hover {
        background-color: var(--third-color);
        /* Add a dark-grey background on hover */
    }
}

@media screen and (max-width:600px) {

    #totoppls,
    #dark,
    #light {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 15px;
        max-width: 40px;
        min-width: 40px;
        border: 1px white solid;
    }
}